body .container-fluid {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0% 0%;
    margin: 0% 0%!important;
    max-height: max-content;
}

p {
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: .5rem 0rem 0rem 0rem!important;
    text-align: left;
}

a:hover {
    text-decoration-line: none!important;
}

.container-fluid{
    padding: 0% 0%!important;
    margin: 0% 0%!important;
}

.row{
    padding: 0% 0%!important;
    margin: 0% 0%!important;
}
/* Navigation Bar */

.navbar {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0% 0%;
    margin: 0% 0%;
    border-bottom: .3rem solid palegoldenrod;
    min-width: 714px;
}

.navbar-brand{
    padding: 10px 15px!important;
}

.navbar-toggler{
    width: max-content!important;
    height:  max-content!important;
    
    text-align: center;
    padding: auto 0px!important;
}

.navbar-toggler-icon{
    margin: auto auto;
    text-align: center;
    display: inline-block;
    width: 1.5em;
    height: 2.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
}

a h5:hover {
    color: rgb(221, 205, 164)!important;
    transition: color 0.4s ease 0s!important;
    transition-duration: 0.4s!important;
    transition-delay: 0s!important;
}

.col-lg-12 {
    padding: 1rem 1rem;
    margin: auto auto;
}

.col-lg-10 {
    padding: 1rem 1rem;
    margin: auto auto;
}


.image-placeholder{
    height: 350px!important;
    width: 350px!important;
    margin: 1rem auto 1rem auto;
}

/* About me */

.aboutMe-container h1, h2, h3, h4, h6 {
    color: rgb(85, 174, 185);
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0% 0%!important;
    padding: 0% 0%;
    opacity: none;
    height: max-content;
}

.aboutMe-container h5{
    color: rgb(85, 174, 185) ;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0% 0%!important;
    padding: 0% 0%;
    opacity: none;
}

.aboutMe-container {
    min-width: 714px;
}

.aboutMe-body-background{
    background-image: url("Assets/Images/white-flowers.jpg");
    background-position: center;
    background-size: 70%;
    min-width: 714px;
}

.aboutMe-text-background-border-image{
    background-image:url("Assets/Images/pink-roses.jpg");
    background-position: bottom;
    border: .4rem solid palegoldenrod;
    margin: 10rem 5rem;
    background-size: 50%;
    flex: 0 100%!important;
    padding:2rem 2rem!important;
    min-width: 565px;
}

.aboutMe-text-background{
    background-color: white;
    border: .2rem solid palegoldenrod;
    margin: auto auto;
    height: max-content;
    min-width: 475px;
}

.profile-image{
    height: 330px;
    width: 300px;
    float: left;
    padding: 0rem .5rem .5rem 0rem;
}

/* Portfolio */

.portfolio-container h1, h2, h3, h4, h6 {
    color: #68001cb4;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0% 0%!important;
    padding: 0% 0%;
    opacity: none;
}

.portfolio-container h4{
    text-decoration: solid underline #68001cb4; ;
}


.portfolio-container hr{
    background-color:#68001cb4;
}

.portfolio-container h5{
    color: #68001cb4;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0% 0%!important;
    padding: 0% 0%;
    opacity: none;
}

.portfolio-container{
    min-width: 714px;
}

.portfolio-body-background{
    background-image: url("Assets/Images/pink-flowers.jpg");
    background-position: center;
    background-size: 80%;
    min-width: 714px;
}

.portfolio-text-background-border-image{
    background-image:url("Assets/Images/white-roses.jpg");
    background-position: bottom;
    border: .4rem solid palegoldenrod;
    margin: 10rem 5rem;
    background-size: 50%;
    flex: 0 100%!important;
    padding:2rem 2rem!important;
    min-width: 565px;
}


.portfolio-text-background{
    background-color: white;
    border: .2rem solid palegoldenrod;
    margin: auto auto;
    height: max-content;
    min-width: 475px;
}

.portfolio-content-header{
    text-align: center;
}

/* Contact */

.contact-container h1, h2, h3, h4 {
    color: #68001cb4;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0% 0%!important;
    padding: 0% 0%;
    opacity: none;
}

.contact-container h5{
    color: #68001cb4;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0% 0%!important;
    padding: 0% 0%;
    opacity: none;
}

.contact-container{
    min-width: 714px;
}

.contact-container hr{
    background-color:white;
}

.contact-body-background{
    background-image: url("Assets/Images/single-white-rose.jpg");
    background-size: 100%;
    text-align: center;
    height: max-content;
}

.contact-content-container{
    background-color: transparent;
    border: .2rem solid palegoldenrod;
    height: max-content;
    margin: 1rem;
}

.contact-header{
    color: white!important;
    text-shadow: 2px 2px 2px #68001cb4;
    text-align: center;
   
}

.contact-hr{
    background-color: white!important;
}

.contact-input-box{
    border: palegoldenrod solid 2px;
}

.contact-send-button{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color:none;
    color: #68001cb4;
    border: #68001cb4 solid 2px;
    width: 5rem;
    height: 2em;
    margin-bottom: 2rem;
}

.contact-send-button:hover{
    background-color:#68001cb4;
    color: white;
    border: palegoldenrod solid 2px;
    transition: color 0.0s ease 0s;
    transition-duration: 0.4s;
    transition-delay: 0s;
}


/* Copyright */

.copyright-container{
    text-align: center;
    border-top: .3rem solid palegoldenrod!important;
    margin: 0%;
}

.copyright-icon{
    margin-right: .1rem;
    padding: .5px;
    color: grey;
}

.copyright-text{
    color: grey;
    padding: 0%;
}
